force-app/main/default/flows/Create_New_Vendor_And_Series.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignVendorAndSeries</name>
        <label>AssignVendorAndSeries</label>
        <locationX>529</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vendor_Series_Dependent_Picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vendor_Series_Dependent_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Is_Item_for_Outdoor_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Item_for_Outdoor_Installation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Color_Finish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Install_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Pattern_Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pattern_Layout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Not_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Not_Sold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Job_Registration_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Registration_Needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Job_Registration_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Registration_Sent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Job_Registration_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Registration_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Lost_due_to_availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lost_due_to_availability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewVendorAndSeries.Availability_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignVendorAndSeriesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVendorAndSeriesCollection</name>
        <label>AssignVendorAndSeriesCollection</label>
        <locationX>662</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>colNewVendorAndSeries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewVendorAndSeries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_And_New</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Save_And_New</name>
        <label>Save And New</label>
        <locationX>654</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>CreateVendorAndSeries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveandNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Vendor_and_Series</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Series</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Series__c</picklistField>
        <picklistObject>Vendors_and_Series__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vendor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vendor__c</picklistField>
        <picklistObject>Vendors_and_Series__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>forSize</name>
        <dataType>String</dataType>
        <expression>LEFT({!Size},24)</expression>
    </formulas>
    <interviewLabel>Create New Vendor And Series {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Vendor And Series</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateVendorAndSeries</name>
        <label>CreateVendorAndSeries</label>
        <locationX>829</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Complete_New_Vendor_and_Series</targetReference>
        </connector>
        <inputReference>colNewVendorAndSeries</inputReference>
    </recordCreates>
    <screens>
        <name>Complete_New_Vendor_and_Series</name>
        <label>Complete New Vendor and Series</label>
        <locationX>975</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Creates a new Vendor and Series record allowing multiple records to be created before exiting flow.</description>
        <name>New_Vendor_and_Series</name>
        <label>New Vendor and Series</label>
        <locationX>397</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignVendorAndSeries</targetReference>
        </connector>
        <fields>
            <name>Vendor_Series_Dependent_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Vendors_and_Series__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Vendor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Series__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varVendor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varSeries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Is_Item_for_Outdoor_Installation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is Item for Outdoor Installation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Color_Finish</name>
            <dataType>String</dataType>
            <fieldText>Color &amp; Finish</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the color name or colors of tile selected, ex. Red, Blue, Tropic Brown, etc.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Size</name>
            <dataType>String</dataType>
            <fieldText>Size</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter size of tile selected, ex. 12x12, 12x24, 6x6&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Install_Location</name>
            <dataType>String</dataType>
            <fieldText>Install Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pattern_Layout</name>
            <dataType>String</dataType>
            <fieldText>Pattern / Layout</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Not_Sold</name>
            <dataType>Boolean</dataType>
            <fieldText>Not Sold</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check this box if we sold the opportunity, but not this individual line item.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Registration_Needed</name>
            <dataType>Boolean</dataType>
            <fieldText>Job Registration Needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Registration_Sent</name>
            <dataType>Boolean</dataType>
            <fieldText>Job Registration Sent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Registration_Notes</name>
            <fieldText>Job Registration Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lost_due_to_availability</name>
            <dataType>Boolean</dataType>
            <fieldText>Lost due to availability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Availability_notes</name>
            <fieldText>Availability notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Notes about why this product was not available&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClickSaveandNew</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(241, 1, 1);&quot;&gt;Check below to save and add and additional Vendor and Series&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SaveandNew</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Save and New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>New_Vendor_and_Series</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colNewVendorAndSeries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendors_and_Series__c</objectType>
    </variables>
    <variables>
        <name>varNewVendorAndSeries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendors_and_Series__c</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSeries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
