force-app/main/default/flows/Handle_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Price_Book</name>
        <label>Assign Price Book</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_book.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Account_is_not_Blank</name>
        <label>Check if Account is not Blank</label>
        <locationX>908</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_not_bank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Dealer_Opportunity</targetReference>
            </connector>
            <label>Account not bank</label>
        </rules>
        <rules>
            <name>isNA_Build</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Account_Build</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_Onsidate</targetReference>
            </connector>
            <label>isNA Build</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dealer_Opportunity</name>
        <label>Is Dealer Opportunity</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer_Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Accounts_Record</targetReference>
            </connector>
            <label>Dealer Opportunity</label>
        </rules>
        <rules>
            <name>NA_Build_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Account_Build</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NA_Build_Opportunity</targetReference>
            </connector>
            <label>NA Build Opportunity</label>
        </rules>
        <rules>
            <name>Check_Price_Level_on_account_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Price_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_book</targetReference>
            </connector>
            <label>Check Price Level on account not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Accounts_Record</name>
        <label>get Accounts Record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_book</name>
        <label>Get Price book</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Price_Level__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>change_Onsidate</name>
        <label>change Onsidate</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.NA_Project__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NA_Build_Opportunity</name>
        <label>Update NA Build Opportunity</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.NA_Project__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onsite_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opportunity</name>
        <label>update Opportunity</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Buying_Group__c</field>
            <value>
                <elementReference>get_Accounts_Record.Buying_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom__c</field>
            <value>
                <elementReference>get_Accounts_Record.Custom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Focus__c</field>
            <value>
                <elementReference>get_Accounts_Record.Industry_Focus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landscape_outside_kitchens__c</field>
            <value>
                <elementReference>get_Accounts_Record.Landscape_outside_kitchens__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Construction__c</field>
            <value>
                <elementReference>get_Accounts_Record.New_Construction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>get_Accounts_Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production__c</field>
            <value>
                <elementReference>get_Accounts_Record.Production__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remodel__c</field>
            <value>
                <elementReference>get_Accounts_Record.Remodel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traditional_Dealer__c</field>
            <value>
                <elementReference>get_Accounts_Record.Traditional_Dealer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account_is_not_Blank</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
