force-app/main/default/flows/Handle_Opportunity_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_Account_is_not_Blank</name>
        <label>Check if Account is not Blank</label>
        <locationX>512</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_not_bank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Dealer_Opportunity</targetReference>
            </connector>
            <label>Account not bank</label>
        </rules>
        <rules>
            <name>is_Stage_Close</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won / First Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onsite_Date</targetReference>
            </connector>
            <label>is Stage Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dealer_Opportunity</name>
        <label>Is Dealer Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer_Opportunities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Accounts_Record</targetReference>
            </connector>
            <label>Dealer Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Opportunity Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Opportunity Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Accounts_Record</name>
        <label>get Accounts Record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onsite_Date</name>
        <label>Update Onsite Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onsite_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opportunity</name>
        <label>update Opportunity</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Buying_Group__c</field>
            <value>
                <elementReference>get_Accounts_Record.Buying_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom__c</field>
            <value>
                <elementReference>get_Accounts_Record.Custom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Focus__c</field>
            <value>
                <elementReference>get_Accounts_Record.Industry_Focus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Construction__c</field>
            <value>
                <elementReference>get_Accounts_Record.New_Construction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>get_Accounts_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production__c</field>
            <value>
                <elementReference>get_Accounts_Record.Production__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remodel__c</field>
            <value>
                <elementReference>get_Accounts_Record.Remodel__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account_is_not_Blank</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
