force-app/main/default/flows/Handle_Account_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>StoreRecord</name>
        <label>StoreRecord</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>singleRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Buying_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Buying_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Custom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Industry_Focus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry_Focus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.New_Construction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_Construction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Production__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Remodel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remodel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Traditional_Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Traditional_Dealer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Landscape_outside_kitchens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Landscape_outside_kitchens__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllRecordForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Dealer_Opportunity</name>
        <label>Is Dealer Opportunity</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Iterating_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Opportunity</name>
            <conditionLogic>1 AND (NOT ( 2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer_Opportunities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won / First Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreRecord</targetReference>
            </connector>
            <label>Dealer Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Account Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Account Updation</label>
    <loops>
        <description>iterate all opportunity releated to account one by one</description>
        <name>Iterating_Opportunity</name>
        <label>Iterating Opportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Dealer_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputReference>StoreAllRecordForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Custom__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remodel__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Production__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Industry_Focus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Buying_Group__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Construction__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Landscape_outside_kitchens__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Traditional_Dealer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>singleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>StoreAllRecordForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
