force-app/main/default/flows/Handle_Vendor_Evaluation_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_to_customer</name>
        <label>send email to customer</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>VendorEvaluation__c.Email_alert_for_Vendor_Evaluation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Contact_Name</name>
        <label>Contact Name</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Record.Preferred_vendor__r.Contact_Name__r.FirstName} {!$Record.Preferred_vendor__r.Contact_Name__r.LastName} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checked_Status</name>
        <label>Checked Status</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_to_customer</targetReference>
            </connector>
            <label>Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Vendor Evaluation Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Vendor Evaluation Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Email_0</name>
        <label>Update Email</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Checked_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Preferred_vendor__r.Email_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name__c</field>
            <value>
                <elementReference>$Record.Preferred_vendor__r.Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Name</targetReference>
        </connector>
        <object>VendorEvaluation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
