force-app/main/default/flows/opportunity_team_revenue_split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>assign_revenue</name>
        <label>assign revenue</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>for_Creator_b</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(NA ONLY) Opp Creator – NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(NA ONLY) Opp Creator – NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_creator</targetReference>
            </connector>
            <label>for Creator</label>
        </rules>
        <rules>
            <name>for_junior_relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Junior Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>junior_relationship</targetReference>
            </connector>
            <label>for junior relationships</label>
        </rules>
    </decisions>
    <decisions>
        <name>creator_lead_is_null</name>
        <label>creator lead is null</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lead_creator_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Creator_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_according_profile</targetReference>
            </connector>
            <label>lead creator is null</label>
        </rules>
        <rules>
            <name>lead_creator_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Creator_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_revenue</targetReference>
            </connector>
            <label>lead creator is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_according_profile</name>
        <label>decision according profile</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>for_creator_c</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(NA ONLY) Opp Creator – NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>(NA ONLY) Opp Creator – Non-NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creator</targetReference>
            </connector>
            <label>for Creator</label>
        </rules>
        <rules>
            <name>for_junior_relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Junior Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opportunity_team_junior_relationship</targetReference>
            </connector>
            <label>for junior relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>newly_Add_Team_Member</name>
        <label>newly Add Team Member</label>
        <locationX>1436</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add_team_member_for_national_team</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Account_Project_Opportunities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Account_Build</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creator_lead_is_null</targetReference>
            </connector>
            <label>add team member for national team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCreateANDUpdateTeamMember</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>opportunity team revenue split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opportunity team revenue split</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creator</name>
        <label>creator</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <elementReference>$Label.Opportunity_Split_Type_Revenue_Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>for_creator</name>
        <label>for creator</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <elementReference>$Label.Opportunity_Split_Type_Revenue_Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>junior_relationship</name>
        <label>junior relationship</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <elementReference>$Label.Opportunity_Split_Type_Revenue_Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>opportunity_team_junior_relationship</name>
        <label>opportunity team junior relationship</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>32.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <elementReference>$Label.Opportunity_Split_Type_Revenue_Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>newly_Add_Team_Member</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
