force-app/main/default/flows/Project_Bidder_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Non_Win_Flag</name>
        <label>Assign Non Win Flag</label>
        <locationX>138</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>Loop_Non_Winners.Not_Winning_Bidder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>soc_UpdatedNonWinners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Non_Winners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Non_Winners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_NonWinners</name>
        <label>Found NonWinners?</label>
        <locationX>182</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundNonWin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_ExistingNonWinners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Non_Winners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Winner_Set</name>
        <label>Winner Set</label>
        <locationX>380</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWinner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Winning_Bidder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_Winners</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>12/18/20 SH-Sets Not Winners when Winner is selected</description>
    <interviewLabel>Project Bidder - After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Bidder - After Create/Update</label>
    <loops>
        <name>Loop_Non_Winners</name>
        <label>Loop Non Winners</label>
        <locationX>50</locationX>
        <locationY>613</locationY>
        <collectionReference>soc_ExistingNonWinners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Non_Win_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Non_Winners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Non_Winners</name>
        <label>Get Non Winners</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_NonWinners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project_Bidders__c</object>
        <outputReference>soc_ExistingNonWinners</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Winning_Bidder__c</queriedFields>
        <queriedFields>Not_Winning_Bidder__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Non_Winners</name>
        <label>Update Non Winners</label>
        <locationX>50</locationX>
        <locationY>1069</locationY>
        <inputReference>soc_UpdatedNonWinners</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Winner_Set</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>Project_Bidders__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>soc_ExistingNonWinners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Bidders__c</objectType>
    </variables>
    <variables>
        <name>soc_UpdatedNonWinners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Bidders__c</objectType>
    </variables>
</Flow>
