force-app/main/default/flows/task_assigned_to_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>task_for_Dan_clark</name>
        <label>task for Dan clark</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dan_clark_branch_code</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GRAND RAPIDS 080 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOUTH BEND 075 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FT. WAYNE 070 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FISHERS 055 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CINCINNATI 065 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EVANSVILLE 050 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_create</targetReference>
            </connector>
            <label>dan clark branch code</label>
        </rules>
        <rules>
            <name>scott_Stertmeyer_branch_code</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LEXINGTON 060 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOUISVILLE 040 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NASHVILLE 030 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHATTANOOGA 035 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KNOXVILLE 037 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JOHNSON CITY 033 BRANCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_create_for_scott</targetReference>
            </connector>
            <label>scott Stertmeyer branch code</label>
        </rules>
        <rules>
            <name>travis_wilcox_branch_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOUISVILLE TILE 039 LOGISTICS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_create_for_travis_wilcox</targetReference>
            </connector>
            <label>travis wilcox branch code</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>duedate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>User_names</name>
        <dataType>String</dataType>
        <expression>&apos;Assigned Accounts to &apos; +{!$Record.FirstName}</expression>
    </formulas>
    <interviewLabel>task assigned to Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>task assigned to Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>task_create</name>
        <label>task create</label>
        <locationX>110</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054X00000EVtK9QAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>User_names</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>task_create_for_scott</name>
        <label>task create for scott</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054X00000EWaZ2QAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>User_names</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>task_create_for_travis_wilcox</name>
        <label>task create for travis wilcox</label>
        <locationX>638</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005300000042aMKAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>User_names</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>task_for_Dan_clark</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>user_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>UserBranch</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
