force-app/main/default/flows/Update_Vendor_and_Series_to_Job_Registration_Sent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ASNNewVendorandSeries</name>
        <label>ASNNewVendorandSeries</label>
        <locationX>345</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>sovsNewVendorandSeries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovVendorandSeries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopVendorandSeries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNVendorandSeries</name>
        <label>ASNVendorandSeries</label>
        <locationX>344</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>sovVendorandSeries.Job_Registration_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASNNewVendorandSeries</targetReference>
        </connector>
    </assignments>
    <description>Updates the Vendor and Series line items to Sent</description>
    <interviewLabel>Update Vendor and Series to Job Registration Sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vendor and Series to Job Registration Sent</label>
    <loops>
        <name>loopVendorandSeries</name>
        <label>loopVendorandSeries</label>
        <locationX>107</locationX>
        <locationY>193</locationY>
        <assignNextValueToReference>sovVendorandSeries</assignNextValueToReference>
        <collectionReference>sovsVendorandSeries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASNVendorandSeries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FUPVendorandSeries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FLKVendorandSeries</name>
        <label>FLKVendorandSeries</label>
        <locationX>109</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopVendorandSeries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Registration_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity</elementReference>
            </value>
        </filters>
        <object>Vendors_and_Series__c</object>
        <outputReference>sovsVendorandSeries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_Registration_Sent__c</queriedFields>
        <queriedFields>Job_Registration_Needed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FUPVendorandSeries</name>
        <label>FUPVendorandSeries</label>
        <locationX>106</locationX>
        <locationY>314</locationY>
        <inputReference>sovsNewVendorandSeries</inputReference>
    </recordUpdates>
    <startElementReference>FLKVendorandSeries</startElementReference>
    <status>Active</status>
    <variables>
        <description>Sobject collection variable to hold the new Vendor and Series</description>
        <name>sovsNewVendorandSeries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendors_and_Series__c</objectType>
    </variables>
    <variables>
        <description>Sobject Collection variable to hold the Vendor and Series off the opportunity</description>
        <name>sovsVendorandSeries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendors_and_Series__c</objectType>
    </variables>
    <variables>
        <description>Sobject variable for the Vendor and Series object</description>
        <name>sovVendorandSeries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendors_and_Series__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold the Opportunity Id</description>
        <name>varOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
